@page "/partition/{PartitionId:int}/{PartitionName?}"
@model KlioWeb.Pages.Partitions.DetailsPartitionModel
@inject CurrentCategory currentCategory

@{
    OpenGraphModel allMeta = new OpenGraphModel();

    allMeta.Title = Model.model.Partition.Name;
    allMeta.Description = Model.model.Partition.Name + " дивитися он-лайн";
    allMeta.Robots = "all";
    allMeta.Author = "Eugene Baklanov";
    allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
    allMeta.Type = "article";
    allMeta.Image = $"{Model.AppState.KlioContentUrl}partitions/{Model.model.Partition.PictureUrl}";
    allMeta.SecureImage = allMeta.Image;
    allMeta.ImageWidth = 1280;
    allMeta.ImageHeight = 720;
    allMeta.ImageType = "image/jpeg";
    allMeta.Url = $"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}";
    allMeta.SiteName = "Медійний архів 'KLIO'";
    allMeta.Locale = "uk_UA";
    allMeta.FBAdmins = "100007730161243,100002204709179";
    allMeta.FBAppId = "885986785210347";
    allMeta.Image2 = $"{Model.AppState.KlioContentUrl}partitions/{Model.model.Partition.PictureUrl}";
    allMeta.SecureImage2 = allMeta.Image2;
    allMeta.ImageWidth2 = 1280;
    allMeta.ImageHeight2 = 720;
    allMeta.ImageType2 = "image/jpeg";

    currentCategory.SetCurrentCategory(Model.model.Partition.CategoryId);

    ViewBag.Meta = allMeta;
}

<section class="movie-details-area" data-background="@($"{Model.AppState.KlioContentUrl}movies/{Model.model.LastMovie.Id}/background.jpg")">
        <div class="movie-details-overlay">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="col-xl-6 col-lg-6" style="align-self: start; margin-top: 10px;">
                        <div class="movie-details-img">
                            <img src="@($"{Model.AppState.KlioContentUrl}partitions/{Model.model.Partition.PictureUrl}")" alt="@Html.Raw(Model.model.Partition.Name)" style="width: 100%;">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="movie-details-content">
                            <div class="section-title title-style-two">
                                <span class="sub-title">@Html.Raw(Model.model.Partition.Category.Name)</span>
                            </div>
                            <h2>
                                @for (int i = 0; i < SeparateTitle(Model.model.Partition.Name).Length; i++)
                                {
                                    if (i % 2 == 0)
                                    {
                                        @Html.Raw(SeparateTitle(Model.model.Partition.Name)[i])
                                    }
                                    else
                                    {
                                        <span>@Html.Raw(SeparateTitle(Model.model.Partition.Name)[i])</span>
                                    }
                                }
                            </h2>
                            <div class="banner-meta">
                                <p>@Html.Raw(Model.model.Partition.Description)</p>
                            </div>
                            <div class="banner-meta">
                                <ul style="justify-content: end;">
                                    <li class="release-time">
                                    <span>@Model.model.PartitionMovies.Count @Html.Raw(StringUtilities.NumDeclension(Model.model.PartitionMovies.Count, "фільм", "фільми", "фільмів"))</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="movie-details-prime">
                                <ul style="min-width: 100%;">
                                    <li class="share"><i class="fa-solid fa-share-nodes"></i><br />Поширити</li>
                                    <li class="streaming" style="text-align: center; margin-right: 25px;">
                                        <div class="fb-share-button" data-href="@($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}")" data-layout="" data-size="">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@(Uri.EscapeDataString($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}"))&amp;src=sdkpreparse">
                                            <h6 class="share_link"><i class="fa-brands fa-facebook"></i></h6>
                                            <span>Facebook</span>
                                        </a>
                                        </div>
                                    </li>
                                    <li class="streaming" style="text-align: center; margin-right: 25px;">
                                        <a target="_blank" href="https://twitter.com/share?url=@(Uri.EscapeDataString($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}"))">
                                            <h6 class="share_link"><i class="fa-brands fa-x-twitter"></i></h6>
                                            <span>X-Twitter</span>
                                        </a>
                                    </li>
                                    <li class="streaming" style="text-align: center; margin-right: 25px;">
                                        <a target="_blank" href="https://t.me/share/url?url=@(Uri.EscapeDataString($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}&text={Model.model.Partition.Name}"))">
                                            <h6 class="share_link"><i class="fa-brands fa-telegram"></i></h6>
                                            <span>Telegram</span>
                                        </a>
                                    </li>
                                    <li class="streaming" style="text-align: center;">
                                        <a target="_blank" href="@(Html.Raw($"mailto:?subject={Model.model.Partition.Name}&body=Раджу подивитися цікаві відео за цим посиланням: {Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}"))">
                                            <h6 class="share_link"><i class="fa-brands fa-telegram"></i></h6>
                                            <span>Пошта</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        <div id="fb-root"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<partial name="MoviesArea" model="Model.PartitionMovies" />

@if (Model.MoviesArea != null)
{
    <partial name="MoviesArea" model="Model.MoviesArea" />
}

@functions {
    private string[] SeparateTitle(string title)
    {
        return StringUtilities.SeparateString(title);
    }
}

@section Scripts {
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v19.0&appId=146729146676782" nonce="34AbfMpj"></script>
    <script>
        var playlist = [];
        $('#allMoviesZone').children().each(function (idx, val) {
            playlist.push({ "title": $(val).data("title"), "file": $(val).data("file") });
        })

        $(document).ready(function () {
            $('#playlist_modal').on('shown.bs.modal', function () {
                plPlayer = new Playerjs({
                    id: "playlistArea",
                    file: playlist,
                    poster: "@($"{Model.AppState.KlioContentUrl}partitions/{Model.model.Partition.PictureUrl}")",
                    title: "@Html.Raw(Model.model.Partition.Name)",
                    autoplay: 0
                });
            });

            $("#playlist_modal").on("hidden.bs.modal", function () {
                plPlayer.api("stop");
            });
        })
    </script>
}
