@page "/people"
@inject NavigationManager NavManager
@inject IPersonRepository personRepository

<PageTitle>@allMeta.Title</PageTitle>

<MetaContent MetaData="allMeta" />

<BreadcrumbArea>
    <TitleContent>
        <h2 class="title">Список <span>осіб</span></h2>
    </TitleContent>
    <ChildContent>
        <li class="breadcrumb-item"><a href="">Домівка</a></li>
        <li class="breadcrumb-item active" aria-current="page">Особи</li>
    </ChildContent>
</BreadcrumbArea>

<section class="ucm-area ucm-bg" style="background-image: url('img/ucm_bg_shape.png')">
    <div class="layer">
        <div class="container">
            <div class="row align-items-end mb-55">
                <div class="col-lg-6">
                    <div class="section-title text-center text-lg-start title-style-two">
                        <span class="sub-title">Люди</span>
                        <h2 class="title">Список персоналій</h2>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="ucm-active" style="display: -webkit-flex; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-flex-direction: row;">
                        <GenericList List="People">
                            <WholeListTemplate>
                                <div class="rc-post" style="width: 100%;">
                                        <ul style="display: flex; align-items: flex-start; flex-direction: row; flex-wrap: wrap;">
                                        @foreach (var item in People)
                                        {
                                            <li class="rc-post-item" style="min-width: 320px; margin-right: 2rem; border: 1px solid #ccc;">
                                                <div class="thumb">
                                                    <a href="person/@item.Id/@StringUtilities.Translit(item.Name)">
                                                        <img src="@(appState.KlioContentUrl + "people/" + item.PictureUrl)" alt="@item.Name" style="max-width: 100px; margin-left: .5rem; margin-right: .5rem;" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title"><a href="person/@item.Id/@StringUtilities.Translit(item.Name)">@item.NameBrief</a></h5>
                                                    <span class="date"><i class="fa-solid fa-cake-candles"></i> @StringUtilities.DateToString(item.DateOfBirth, "dd MMMM yyyy")</span>
                                                    <div>
                                                        <p>
                                                            <br />
                                                            <a href="person/edit/@item.Id">Редагувати</a> <a style="cursor: pointer;">Видалити</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                 </div>
                            </WholeListTemplate>
                        </GenericList>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-11">
                    <div class="contact-form-wrap">
                        <div class="contact-form" style="text-align: right;">
                            <a class="btn" href="person/create">Додати</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [CascadingParameter] public AppState appState { get; set; }
    OpenGraphModel allMeta = new OpenGraphModel();
    List<Person> People;

    protected async override Task OnInitializedAsync()
    {
        allMeta.Title = "Особи :: Український медійний архів 'KLIO'";
        allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
        allMeta.Robots = "all";
        allMeta.Author = "Eugene Baklanov";
        allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
        allMeta.Type = "article";
        allMeta.Image = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("https://", "http://");
        allMeta.SecureImage = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("http://", "https://");
        allMeta.ImageWidth = 1920;
        allMeta.ImageHeight = 1077;
        allMeta.ImageType = "image/jpeg";
        allMeta.Url = NavManager.Uri;
        allMeta.SiteName = "Медійний архів 'KLIO'";
        allMeta.Locale = "uk_UA";
        allMeta.FBAdmins = "100007730161243,100002204709179";
        allMeta.FBAppId = "885986785210347";
        allMeta.Image2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("https://", "http://");
        allMeta.SecureImage2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("http://", "https://");
        allMeta.ImageWidth2 = 750;
        allMeta.ImageHeight2 = 750;
        allMeta.ImageType2 = "image/png";

        try
        {
            People = await personRepository.GetPeople();
        }
        catch (Exception ex)
        {

        }
    }
}
