<EditForm Model="Person" OnValidSubmit="OnValidSubmit" FormName="PersonForm">
    <div class="row mb-2">
        <DataAnnotationsValidator />
        <ValidationSummary style="color: #fd0e30;" />
    </div>
    <div class="row">
        <InputText placeholder="Ім'я *" @bind-Value="@Person.Name" />
        <div class="row">
            <div class="col-md-5">
                <label style="width: 100%">Дата народження</label>
                <InputDate @bind-Value="@Person.DateOfBirth" style="width: 70%" />
                <InputCheckbox @bind-Value="@Person.DateOfBirthExact" style="width: auto" />
                <label>Достеменна</label>
            </div>
            <div class="col-md-5">
                <label style="width: 100%">Дата смерті</label>
                <InputDate @bind-Value="@Person.DateOfDeath" style="width: 70%" />
                <InputCheckbox @bind-Value="@Person.DateOfDeathExact" style="width: auto" />
                <label>Достеменна</label>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
                <div style="display: inline-block">
                    <InputCheckbox @bind-Value="@Person.IsFemale" style="width: auto" />
                    <label>Жінка</label>
                </div>
            </div>
        </div>
        <!-- <InputTextArea placeholder="Коротка біографія..." @bind-Value="@Person.Biography" /> -->
        <InputMarkdown @bind-Value="Person.Biography" Placeholder="Коротка біографія..." For="@(() => Person.Biography)" />
        <InputImg OnSelectedImage="OnSelectedImage" ImageURL="@imageUrl" />
        <button class="btn" type="submit">Зберегти</button>
    </div>
</EditForm>

@code {
    [Parameter] public Person Person { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    string imageUrl;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Person.Picture))
        {
            imageUrl = Person.Picture;
            Person.Picture = null;
        }
    }

    private void OnSelectedImage(string imageBase64)
    {
        Person.Picture = imageBase64;
        imageUrl = null;
    }
}
