<title>@Html.Raw(ViewBag.Meta.Title) :: Медійний архів 'KLIO'</title>

<meta name="description" content="@Html.Raw(ViewBag.Meta.Description)">
<meta name="keywords" content="@Html.Raw(ViewBag.Meta.Keywords)">
<meta name="author" content="@ViewBag.Meta.Author" />
<meta name="robots" content="@ViewBag.Meta.Robots">

<meta itemprop="name" content="@Html.Raw(ViewBag.Meta.Title) :: Медійний архів 'KLIO'" />
<meta itemprop="description" content="@Html.Raw(ViewBag.Meta.Description)" />
<meta itemprop="image" content="@ViewBag.Meta.Image" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Html.Raw(ViewBag.Meta.SiteName)" />
<meta name="twitter:title" content="@Html.Raw(ViewBag.Meta.Title) :: Медійний архів 'KLIO'" />
<meta name="twitter:description" content="@Html.Raw(ViewBag.Meta.Description)" />
<meta name="twitter:creator" content="@ViewBag.Meta.Author" />
<meta name="twitter:image:src" content="@ViewBag.Meta.Image" />
<meta name="twitter:domain" content="@ViewBag.Meta.Url" />

<meta property="og:title" content="@Html.Raw(ViewBag.Meta.Title) :: Медійний архів 'KLIO'" />
<meta property="og:type" content="@ViewBag.Meta.Type" />
<meta property="og:url" content="@ViewBag.Meta.Url" />
<meta property="og:site_name" content="@Html.Raw(ViewBag.Meta.SiteName)" />
<meta property="og:description" content="@Html.Raw(ViewBag.Meta.Description)" />
<meta property="og:locale" content="@ViewBag.Meta.Locale" />
<meta property="fb:admins" content="@ViewBag.Meta.FBAdmins" />
<meta property="fb:app_id" content="@ViewBag.Meta.FBAppId" />
<meta property="og:image" content="@ViewBag.Meta.Image" />
<meta property="og:image:secure_url" content="@ViewBag.Meta.SecureImage" />
<meta property="og:image:type" content="@ViewBag.Meta.ImageType" />
<meta property="og:image:width" content="@ViewBag.Meta.ImageWidth" />
<meta property="og:image:height" content="@ViewBag.Meta.ImageHeight" />
<meta property="og:image" content="@ViewBag.Meta.Image2" />
<meta property="og:image:secure_url" content="@ViewBag.Meta.SecureImage2" />
<meta property="og:image:type" content="@ViewBag.Meta.ImageType2" />
<meta property="og:image:width" content="@ViewBag.Meta.ImageWidth2" />
<meta property="og:image:height" content="@ViewBag.Meta.ImageHeight2" />