@using KlioBlazor.Shared.Entities
@model MoviesArea

@{
    string movieUrl(Movie movie)
    {
        return $"movie/{movie.Id}/{StringUtilities.Translit(movie.Title)}";
    }
}

<section class="ucm-area ucm-bg" data-background="img/ucm_bg_shape.png">
    <div class="layer">
        <div class="container">
            @if (Model.CenterHeader)
            {
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center mb-50">
                            <span class="sub-title">@Model.Subtitle</span>
                            <h2 class="title">@Model.Title</h2>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row align-items-end mb-55">
                    <div class="col-lg-6">
                        <div class="section-title text-center text-lg-start title-style-two">
                            <span class="sub-title">@Model.Subtitle</span>
                            <h2 class="title">@Model.Title</h2>
                        </div>
                    </div>
                </div>
            }
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="ucm-active" style="display: -webkit-flex; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-flex-direction: row;">
                        @if (Model.Movies == null)
                        {
                            <div id="preloader" style="height: 25vh;">
                                <div id="loading-center">
                                    <div id="loading-center-absolute">
                                        <img src="img/preloader.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.Movies.Count == 0)
                        {
                            <p>@Model.NoRecords</p>
                        }
                        else
                        {
                            @foreach (var element in Model.Movies)
                            {
                                <div class="movie-item mb-50" style="width: 380px; margin-right: 30px;">
                                    @if (Model.ShowCategoryName)
                                    {
                                        <div class="section-title text-center text-lg-start">
                                            <span class="sub-title">@element.Partition.Name</span>
                                        </div>
                                    }
                                    <div class="movie-poster">
                                        <a href="@movieUrl(element)">
                                            <img src="@($"{Model.appState.KlioContentUrl}movies/{element.Id}/cover.jpg")" alt="@element.Title" />
                                        </a>
                                    </div>
                                    <div class="movie-content">
                                        <div class="top">
                                            <h5 class="title ellipse"><a href="@movieUrl(element)">@element.TitleBrief</a></h5>
                                            <span class="date">@element.ReleaseDate.Value.Year</span>
                                        </div>
                                        <div class="bottom">
                                            <ul>
                                                <li>
                                                    <span class="quality" style="@AgeLimitColor(element.AgeLimit)">@element.AgeLimit+</span>
                                                </li>
                                                <li>
                                                    <span class="duration">
                                                        <i class="fa-solid fa-clock"></i> @StringUtilities.SecondsToMinutes(element.Duration)
                                                    </span>
                                                    <span class="rating">
                                                        <i class="fa-solid fa-thumbs-up"></i> @element.Rating
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@functions {
    string AgeLimitColor(int age)
    {
        string style = "color: lightgreen; border-color: lightgreen;";
        switch (age)
        {
            case 12:
                style = "color: sandybrown; border-color: sandybrown;";
                break;

            case 16:
                style = "color: orange; border-color: orange;";
                break;

            case 18:
                style = "color: maroon; border-color: maroon;";
                break;

            default:
                style = "color: lightgreen; border-color: lightgreen;";
                break;
        }

        return style;
    }
}