@inject CurrentCategory currentCategory

<div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="mobile-nav-toggler">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="menu-wrap">
                    <nav class="menu-nav show">
                        <div class="logo">
                            <a class="nav-link" href="~/">
                                <img src="img/logo.png" alt="Логотип" />
                            </a>
                        </div>
                        <div class="navbar-wrap main-menu d-none d-lg-flex">
                            <ul class="navigation">
                                <li>
                                    <a class="nav-link" href="category/history" style="@CheckCategory(1)">Історія</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="category/literacy" style="@CheckCategory(2)">Література</a>
                                </li>
                                <li>
                                    <a class="nav-link" href="category/music" style="@CheckCategory(3)">Музика</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="nav-link" href="category/movies" style="@CheckCategory(4, 6)">Фільми</a>
                                    <ul class="submenu">
                                        <li>
                                            <a class="nav-link" href="category/movies" style="@CheckCategory(4)">Фільми</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="category/serials" style="@CheckCategory(6)">Серіали</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="nav-link" href="category/animation" style="@CheckCategory(5, 7)">Мультфільми</a>
                                    <ul class="submenu">
                                        <li>
                                            <a class="nav-link" href="category/animation" style="@CheckCategory(5)">Мультфільми</a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="category/series" style="@CheckCategory(7)">Мультсеріали</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header-action d-none d-md-block">
                            <ul>
                                <li class="header-search">
                                    <a style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#search_modal">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </li>
                                <li class="header-btn">
                                    <a class="btn btnlive" href="live">
                                        <span class="live-icon"></span>Наживо
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <div class="close-btn">
                        <i class="fa-solid fa-xmark"></i>
                    </div>

                    <nav class="menu-box">
                        <div class="nav-logo">
                            <a class="nav-link" href="~/" Match="NavLinkMatch.All">
                                <img src="img/logo.png" alt="" title="" />
                            </a>
                        </div>
                        <div class="menu-outer">
                            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                        </div>
                        <div class="social-links">
                            <ul class="clearfix">
                                <li>
                                    <a href="https://twitter.com/KlioDpUa" target="_blank">
                                        <span class="fa-brands fa-x-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/groups/1663099450594555/" target="_blank">
                                        <span class="fa-brands fa-square-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/klio.dp.ua/" target="_blank">
                                        <span class="fa-brands fa-instagram"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCU5htQdntn-Y9LP84Q3Vecw" target="_blank">
                                        <span class="fa-brands fa-youtube"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://t.me/klio_dp_ua" target="_blank">
                                        <span class="fa-brands fa-telegram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-backdrop"></div>
                <!-- End Mobile Menu -->

                <partial name="SearchModal" />
            </div>
        </div>
    </div>
</div>

@functions {
    public string CheckCategory(int id)
    {
        return (currentCategory.CurrentCat == id) ? "color: #fd0e30" : string.Empty;
    }

    public string CheckCategory(int id1, int id2)
    {
        return (currentCategory.CurrentCat == id1 || currentCategory.CurrentCat == id2) ? "color: #fd0e30" : string.Empty;
    }
}