@page
@model IndexModel
@inject CurrentCategory currentCategory

@{
    OpenGraphModel allMeta = new OpenGraphModel();

    currentCategory.SetCurrentCategory(0);

    allMeta.Title = "Український медійний архів 'KLIO'";
    allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
    allMeta.Robots = "all";
    allMeta.Author = "Eugene Baklanov";
    allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
    allMeta.Type = "article";
    allMeta.Image = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("https://", "http://");
    allMeta.SecureImage = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("http://", "https://");
    allMeta.ImageWidth = 1920;
    allMeta.ImageHeight = 1080;
    allMeta.ImageType = "image/jpeg";
    allMeta.Url = $"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}";
    allMeta.SiteName = "Медійний архів 'KLIO'";
    allMeta.Locale = "uk_UA";
    allMeta.FBAdmins = "100007730161243,100002204709179";
    allMeta.FBAppId = "885986785210347";
    allMeta.Image2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("https://", "http://");
    allMeta.SecureImage2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("http://", "https://");
    allMeta.ImageWidth2 = 750;
    allMeta.ImageHeight2 = 750;
    allMeta.ImageType2 = "image/png";

    ViewBag.Meta = allMeta;
}


<partial name="BannerArea" model="Model.BannerArea" />

<partial name="PartitionsArea" model="Model.PartitionsArea" />

<section class="services-area services-bg" data-background="img/services_bg.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-img-wrap">
                    <video width="100%" autoplay muted loop oncanplay="this.muted=true">
                        <source src="@GetLogo()" type="video/mp4">
                        Ваш переглядач не підтримує відтворення відео взагалі, або відтворення відео у форматах mp4/ogg.
                    </video>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-content-wrap">
                    <div class="section-title title-style-two mb-20">
                        <span class="sub-title">До ваших послуг</span>
                        <h2 class="title">Дивіться відеофільми нашого архіву.</h2>
                    </div>
                    <p>
                        На нашому сайті ви можете безоплатно подивитися або завантажити відеофайли:
                    </p>
                    <div class="services-list">
                        <ul>
                            <li>
                                <div class="icon">
                                    <a href="live">
                                        <i class="flaticon-television"></i>
                                    </a>
                                </div>
                                <div class="content">
                                    <h5><a href="live">В режимі прямої трансляцій</a></h5>
                                    <p>Відеофайли нашого архіву трасляются наживо згідно з програмою трансляції.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <a href="movies/search">
                                        <i class="flaticon-video-camera"></i>
                                    </a>
                                </div>
                                <div class="content">
                                    <h5><a href="movies/search">Відео на вимогу</a></h5>
                                    <p>Шукайте та дивіться відео, які вам до вподоби. Ви можете також завантажити відео, яке вас зацікавило, для подальшого перегляду без підключення до інтернету.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="MoviesArea" model="Model.PopularMovies" />

@if (Model.RecommendMovie != null)
{
    <section class="live-area live-bg fix" data-background="img/live_bg.jpg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="section-title title-style-two mb-25">
                        <span class="sub-title">Радимо подивитися</span>
                        <h2 class="title">@Html.Raw(Model.RecommendMovie.Title)</h2>
                    </div>
                    <div class="live-movie-content">
                        <p>
                            @Html.Raw(Model.RecommendMovie.Summary)
                        </p>
                        <div class="live-fact-wrap">
                            <div class="resolution">
                                @foreach (var country in Model.RecommendMovieCountries)
                                {
                                    <h2 style="font-family: Arial;">@Html.Raw(country.Name)</h2>
                                }
                            </div>
                            <div class="active-customer">
                                <p>@Html.Raw(Model.RecommendMovie.Partition.Name)</p>
                                @foreach (var genre in Model.RecommendMovie.MoviesGenres)
                                {
                                    <h4>@Html.Raw(genre.Genre.Name)</h4>
                                }
                            </div>
                        </div>
                        <a href="@($"movie/{Model.RecommendMovie.Id}/{StringUtilities.Translit(Model.RecommendMovie.Title)}")" class="btn"><i class="fa-regular fa-circle-play"></i> Дивитися</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="live-movie-img" data-aos="fade-left" data-aos-delay="180">
                        <img src="@($"{Model.appState.KlioContentUrl}movies/{Model.RecommendMovie.Id}/cover.jpg")" alt="@Html.Raw(Model.RecommendMovie.Title)" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@functions {
    List<string> videoLogos = new List<string>()
    {
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/AutumnLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/BreakingWtoneWallLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/GoldLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/LaserLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/White%20Logo.mp4",
    };

    string GetLogo()
    {
        Random rnd = new Random();
        int i = 0;
        int _rnd = rnd.Next(videoLogos.Count);
        foreach (string logo in videoLogos)
        {
            if (i == _rnd)
            {
                return logo;
            }
            i++;
        }

        return "";
    }
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var $grid = $('.tr-movie-active').isotope({
                itemSelector: '.grid-item',
                percentPosition: true,
                masonry: {
                    // columnWidth: '.grid-sizer',
                }
            });
            
            $('.tr-movie-menu-active').on('click', 'button', function () {
                var filterValue = $(this).attr('data-filter');
                console.log(filterValue);
                $grid.isotope({ filter: filterValue });
            });

            $('.tr-movie-menu-active button').on('click', function (event) {
                $(this).siblings('.active').removeClass('active');
                $(this).addClass('active');
                event.preventDefault();
            });
        })
    </script>
}
