@page "/"
@attribute [StreamRendering]
@inject NavigationManager NavManager
@inject IMoviesRepository moviesRepository
@inject CurrentCategory currentCategory

<PageTitle>@allMeta.Title</PageTitle>

<MetaContent MetaData="allMeta" />

@if (lastMovie != null)
{
    <BannerArea ShowMovie="lastMovie" ShowMovieCountries="lastMovieCountries" />
}

<PartitionsArea Partitions="partitionsPopular" Title="Найпопулярніші розділи" Subtitle="Дивіться зараз" />

<section class="services-area services-bg" style="background-image: url('img/services_bg.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-img-wrap">
                    <video width="100%" autoplay muted loop oncanplay="this.muted=true">
                        <source src="@GetLogo()" type="video/mp4">
                        Ваш переглядач не підтримує відтворення відео взагалі, або відтворення відео у форматах mp4/ogg.
                    </video>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-content-wrap">
                    <div class="section-title title-style-two mb-20">
                        <span class="sub-title">До ваших послуг</span>
                        <h2 class="title">Дивіться відеофільми нашого архіву.</h2>
                    </div>
                    <p>
                        На нашому сайті ви можете безоплатно подивитися або завантажити відеофайли:
                    </p>
                    <div class="services-list">
                        <ul>
                            <li>
                                <div class="icon">
                                    <a href="live">
                                        <i class="flaticon-television"></i>
                                    </a>
                                </div>
                                <div class="content">
                                    <h5><a href="live">В режимі прямої трансляцій</a></h5>
                                    <p>Відеофайли нашого архіву трасляются наживо згідно з програмою трансляції.</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <a href="movies/search">
                                        <i class="flaticon-video-camera"></i>
                                    </a>
                                </div>
                                <div class="content">
                                    <h5><a href="movies/search">Відео на вимогу</a></h5>
                                    <p>Шукайте та дивіться відео, які вам до вподоби. Ви можете також завантажити відео, яке вас зацікавило, для подальшого перегляду без підключення до інтернету.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<MoviesArea Movies="moviesPopular" Title="Найпопулярніші фільми" Subtitle="Дивіться зараз" CenterHeader="true" />

@if (recommendMovie != null)
{
    <section class="live-area live-bg fix" style="background-image: url('img/live_bg.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-6">
                    <div class="section-title title-style-two mb-25">
                        <span class="sub-title">Радимо подивитися</span>
                        <h2 class="title">@recommendMovie.Title</h2>
                    </div>
                    <div class="live-movie-content">
                        <p>
                            <RenderMarkdown MarkdownContent="@recommendMovie.Summary" />
                        </p>
                        <div class="live-fact-wrap">
                            <div class="resolution">
                                @foreach (var country in recommendMovieCountries)
                                {
                                    <h2 style="font-family: Arial;">@country.Name</h2>
                                }
                            </div>
                            <div class="active-customer">
                                <p>@recommendMovie.Partition.Name</p>
                                @foreach (var genre in recommendMovie.MoviesGenres)
                                {
                                    <h4>@genre.Genre.Name</h4>
                                }
                            </div>
                        </div>
                        <a href="@($"movie/{recommendMovie.Id}/{StringUtilities.Translit(recommendMovie.Title)}")" class="btn"><i class="fa-regular fa-circle-play"></i> Дивитися</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="live-movie-img wow fadeInRight" style="visibility: visible; animation-duration: 1.8s; animation-delay: 0.2s; animation-name: fadeInRight;">
                        <img src="@($"{appState.KlioContentUrl}movies/{recommendMovie.Id}/cover.jpg")" alt="@recommendMovie.Title" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@code {
    [CascadingParameter] public AppState appState { get; set; }
    private List<Movie> moviesPopular;
    private List<Partition> partitionsPopular;
    private Movie lastMovie;
    private List<Country> lastMovieCountries;
    private Movie recommendMovie;
    private List<Country> recommendMovieCountries;
    OpenGraphModel allMeta = new OpenGraphModel();
    List<string> videoLogos = new List<string>()
    {
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/AutumnLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/BreakingWtoneWallLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/GoldLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/LaserLogo.mp4",
        "https://raw.githubusercontent.com/EugeneZhenya/KlioMoviesContent/main/vlogos/White%20Logo.mp4",
    };

    protected async override Task OnInitializedAsync()
    {
        currentCategory.SetCurrentCategory(0);

        allMeta.Title = "Український медійний архів 'KLIO'";
        allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
        allMeta.Robots = "all";
        allMeta.Author = "Eugene Baklanov";
        allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
        allMeta.Type = "article";
        allMeta.Image = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("https://", "http://");
        allMeta.SecureImage = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("http://", "https://");
        allMeta.ImageWidth = 1920;
        allMeta.ImageHeight = 1077;
        allMeta.ImageType = "image/jpeg";
        allMeta.Url = NavManager.Uri;
        allMeta.SiteName = "Медійний архів 'KLIO'";
        allMeta.Locale = "uk_UA";
        allMeta.FBAdmins = "100007730161243,100002204709179";
        allMeta.FBAppId = "885986785210347";
        allMeta.Image2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("https://", "http://");
        allMeta.SecureImage2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("http://", "https://");
        allMeta.ImageWidth2 = 750;
        allMeta.ImageHeight2 = 750;
        allMeta.ImageType2 = "image/png";

        try
        {
            var response = await moviesRepository.GetHomePageDTO();
            lastMovie = response.LastMovie;
            moviesPopular = response.MoviesPopular;
            partitionsPopular = response.PartitionsPopular;
            lastMovieCountries = response.LastMovieCountries;
            recommendMovie = response.RecomendMovie;
            recommendMovieCountries = response.RecomendMovieCountries;
        }
        catch (Exception ex)
        {
            
        }
    }

    string GetLogo()
    {
        Random rnd = new Random();
        int i = 0;
        int _rnd = rnd.Next(videoLogos.Count);
        foreach (string logo in videoLogos)
        {
            if (i == _rnd)
            {
                return logo;
            }
            i++;
        }

        return "";
    }
}