<!-- up-coming-movie-area -->
<section class="ucm-area ucm-bg" style="background-image: url('img/ucm_bg_shape.png')">
    <div class="layer">
        <div class="container">
            @if (CenterHeader)
            {
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center mb-50">
                            <span class="sub-title">@Subtitle</span>
                            <h2 class="title">@Title</h2>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row align-items-end mb-55">
                    <div class="col-lg-6">
                        <div class="section-title text-center text-lg-start title-style-two">
                            <span class="sub-title">@Subtitle</span>
                            <h2 class="title">@Title</h2>
                        </div>
                    </div>
                    <!--
                    <div class="col-lg-6">
                        <div class="ucm-nav-wrap">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Фільми</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Історія</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Мультсеріали</a>
                                </li>
                            </ul>
                            <div class="owl-nav">
                                <button type="button" role="presentation" class="owl-prev">
                                    <i class="fas fa-angle-left"></i>
                                </button><button type="button" role="presentation" class="owl-next">
                                    <i class="fas fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            }
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <MoviesList Movies="Movies" NoRecords="@NoRecords" ShowCategoryName="ShowCategoryName" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- up-coming-movie-area-end -->

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Subtitle { get; set; }
    [Parameter] public String NoRecords { get; set; } = "Розділ не має записів.";
    [Parameter] public List<Movie> Movies { get; set; }
    [Parameter] public bool CenterHeader { get; set; } = false;
    [Parameter] public bool ShowCategoryName { get; set; } = true;
}
