@page "/Dashboard"
@model KlioWeb.Pages.General.DashboardModel
@inject CurrentCategory currentCategory

@{
    OpenGraphModel allMeta = new OpenGraphModel();
    currentCategory.SetCurrentCategory(0);

    allMeta.Title = "Адміністративна панель";
    allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
    allMeta.Robots = "all";
    allMeta.Author = "Eugene Baklanov";
    allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
    allMeta.Type = "article";
    allMeta.Image = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("https://", "http://");
    allMeta.SecureImage = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("http://", "https://");
    allMeta.ImageWidth = 1920;
    allMeta.ImageHeight = 1080;
    allMeta.ImageType = "image/jpeg";
    allMeta.Url = $"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}";
    allMeta.SiteName = "Медійний архів 'KLIO'";
    allMeta.Locale = "uk_UA";
    allMeta.FBAdmins = "100007730161243,100002204709179";
    allMeta.FBAppId = "885986785210347";
    allMeta.Image2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("https://", "http://");
    allMeta.SecureImage2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("http://", "https://");
    allMeta.ImageWidth2 = 750;
    allMeta.ImageHeight2 = 750;
    allMeta.ImageType2 = "image/png";

    ViewBag.Meta = allMeta;
}

<partial name="BreadcrumbArea" model="Model.BreadcrumbArea" />

@if (Model.DashboardInfo != null)
{
    <section class="contact-area contact-bg" data-background="img/contact_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-11">
                    <div class="contact-form-wrap">
                        <div class="widget-title mb-50">
                            <h5 class="title">Розділи сайту</h5>
                        </div>
                        <div class="contact-info-wrap">
                            <p><span>Користувачу :</span> Перехід за розділами сайту дозволяє керувати їхнім вмістом за наявності реєстрації та надання відповідних привілеїв.</p>
                            <div class="contact-info-list">
                                <ul>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-solid fa-icons"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="category/all">Категорії</a> :</span> Основні категорії відеовмісту</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.CategoriesCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "категорія", "категорії", "категорій"))
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-solid fa-swatchbook"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="Partitions">Розділи</a> :</span> Розділи, що входять до категорії</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.PartitionsCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "розділ", "розділи", "розділів"))
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-solid fa-keyboard"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="Keywords">Ключові слова</a> :</span> Ключові слова, що описують відеовміст</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.KeywordsCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "слово", "слова", "слів"))
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-brands fa-themeisle"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="Genres">Жанри</a> :</span> Жанри, до яких належить відеовміст</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.GenresCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "жанр", "жанри", "жанрів"))
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-solid fa-globe"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="Countries">Країни</a> :</span> Країни, виробники яких створили відеовміст</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.CountriesCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "країна", "країни", "країн"))
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-solid fa-building"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="Creators">Виробники</a> :</span> Виробники, що створили відеовміст</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.CreatorsCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "виробник", "виробники", "виробників"))
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-solid fa-users"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="people">Люди</a> :</span> Актори та інші особи, що створили відеовміст</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.PeopleCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "особа", "особи", "осіб"))
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row w-100">
                                            <div class="col-6 d-flex justify-content-start">
                                                <div class="icon"><i class="fa-solid fa-film"></i></div>
                                                <p style="margin-top: 15px;"><span><a href="movies/all">Відео</a> :</span> Безпосередньо відеовміст</p>
                                            </div>
                                            <div class="col-6 d-flex align-items-center justify-content-end">
                                                @Model.DashboardInfo.MoviesCount @Html.Raw(StringUtilities.NumDeclension(Model.DashboardInfo.CategoriesCount, "фільм", "фільми", "фільмів"))
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section Scripts {

}
