@page "/person/{PersonId:int}/{PersonName?}"
@model KlioWeb.Pages.People.DetailsPersonModel
@inject CurrentCategory currentCategory

@{
    OpenGraphModel allMeta = new OpenGraphModel();
    currentCategory.SetCurrentCategory(0);

    allMeta.Title = Model.model.Person.Name;
    allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
    allMeta.Robots = "all";
    allMeta.Author = "Eugene Baklanov";
    allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
    allMeta.Type = "article";
    allMeta.Image = $"{Model.AppState.KlioContentUrl}people/{Model.model.Person.PictureUrl}";
    allMeta.SecureImage = allMeta.Image;
    allMeta.ImageWidth = 320;
    allMeta.ImageHeight = 400;
    allMeta.ImageType = "image/png";
    allMeta.Url = $"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}";
    allMeta.SiteName = "Медійний архів 'KLIO'";
    allMeta.Locale = "uk_UA";
    allMeta.FBAdmins = "100007730161243,100002204709179";
    allMeta.FBAppId = "885986785210347";
    allMeta.Image2 = allMeta.Image;
    allMeta.SecureImage2 = allMeta.Image;
    allMeta.ImageWidth2 = 320;
    allMeta.ImageHeight2 = 400;
    allMeta.ImageType2 = "image/png";

    ViewBag.Meta = allMeta;
}

<section class="movie-details-area" data-background="@($"{Model.AppState.KlioContentUrl}movies/{Model.model.LastMovie.Id}/background.jpg")">
        <div class="movie-details-overlay">
            <div class="container">
                <div class="row align-items-center position-relative">
                    <div class="col-xl-6 col-lg-6" style="align-self: start; margin-top: 10px;">
                        <div class="movie-details-img" style="text-align: center;">
                            <img src="@($"{Model.AppState.KlioContentUrl}people/{Model.model.Person.PictureUrl}")" alt="@Html.Raw(Model.model.Person.Name)" style="padding-top: 10px; transform: scale(0.98); background-color: @GenderColor();" />
                            @if (Model.model.Person.DateOfDeath == null)
                            {
                                <img src="img/photoframe.png" alt="@Html.Raw(Model.model.Person.Name)" style="position: absolute; margin: auto; left: 0; right: 0; text-align: center;" />
                            }
                            else
                            {
                                <img src="img/photoframe_dead.png" alt="@Html.Raw(Model.model.Person.Name)" style="position: absolute; margin: auto; left: 0; right: 0; text-align: center;" />
                            }
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="movie-details-content">
                            <div class="section-title title-style-two">
                                <span class="sub-title">Інформація про особу</span>
                            </div>
                            <h2>
                                @for (int i = 0; i < SeparateTitle(Model.model.Person.Name).Length; i++)
                                {
                                    if (i % 2 == 0)
                                    {
                                        @Html.Raw(SeparateTitle(Model.model.Person.Name)[i])
                                    }
                                    else
                                    {
                                        <span>@Html.Raw(SeparateTitle(Model.model.Person.Name)[i])</span>
                                    }
                                }
                            </h2>
                            <div class="banner-meta">
                                <ul style="justify-content: space-between;">
                                    <li class="category">
                                        @if (Model.model.Person.DateOfBirth != null)
                                        {
                                            @if (Model.model.Person.DateOfBirthExact)
                                            {
                                                <span class="date"><i class="fa-solid fa-cake-candles"></i> @Html.Raw(StringUtilities.DateToString(Model.model.Person.DateOfBirth, "dd MMMM yyyy"))</span>
                                            }
                                            else
                                            {
                                                <span class="date"><i class="fa-solid fa-cake-candles"></i> @Model.model.Person.DateOfBirth.Value.Year</span>
                                            }
                                        }
                                        @if (Model.model.Person.DateOfDeath != null)
                                        {
                                            @if (Model.model.Person.DateOfDeathExact)
                                            {
                                                <span class="date" style="padding-left: 15px;"><i class="fa-solid fa-cross"></i> @Html.Raw(StringUtilities.DateToString(Model.model.Person.DateOfDeath, "dd MMMM yyyy"))</span>
                                            }
                                            else
                                            {
                                                <span class="date" style="padding-left: 15px;"><i class="fa-solid fa-cross"></i> @Model.model.Person.DateOfDeath.Value.Year</span>
                                            }
                                        }
                                    </li>

                                @if (Model.model.Person.DateOfBirth != null && Model.model.Person.DateOfBirthExact)
                                {
                                    @if (Model.model.Person.DateOfDeath != null && Model.model.Person.DateOfDeathExact)
                                    {
                                        <li class="category">
                                            @Html.Raw(CalcAge((DateTime)Model.model.Person.DateOfBirth, (DateTime)Model.model.Person.DateOfDeath))
                                        </li>
                                    }
                                    @if (Model.model.Person.DateOfDeath == null)
                                    {
                                        <li class="category">
                                            @Html.Raw(CalcAge((DateTime)Model.model.Person.DateOfBirth, DateTime.Today))
                                        </li>
                                    }
                                }

                                    <li class="release-time">
                                    <span>@Model.model.PersonMovies.Count @Html.Raw(StringUtilities.NumDeclension(Model.model.PersonMovies.Count, "фільм", "фільми", "фільмів"))</span>
                                    </li>
                                </ul>
                            </div>

                            @Html.Raw(Model.model.Person.Biography)

                        <div class="movie-details-prime mb-5">
                            <ul style="min-width: 100%;">
                                <li class="share"><i class="fa-solid fa-share-nodes"></i><br />Поширити</li>
                                <li class="streaming" style="text-align: center; margin-right: 25px;">
                                    <div class="fb-share-button" data-href="@($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}")" data-layout="" data-size="">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@(Uri.EscapeDataString($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}"))&amp;src=sdkpreparse">
                                            <h6 class="share_link"><i class="fa-brands fa-facebook"></i></h6>
                                            <span>Facebook</span>
                                        </a>
                                    </div>
                                </li>
                                <li class="streaming" style="text-align: center; margin-right: 25px;">
                                    <a target="_blank" href="https://twitter.com/share?url=@(Uri.EscapeDataString($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}"))">
                                        <h6 class="share_link"><i class="fa-brands fa-x-twitter"></i></h6>
                                        <span>X-Twitter</span>
                                    </a>
                                </li>
                                <li class="streaming" style="text-align: center; margin-right: 25px;">
                                    <a target="_blank" href="https://t.me/share/url?url=@(Uri.EscapeDataString($"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}&text={Model.model.Person.Name}"))">
                                        <h6 class="share_link"><i class="fa-brands fa-telegram"></i></h6>
                                        <span>Telegram</span>
                                    </a>
                                </li>
                                <li class="streaming" style="text-align: center;">
                                    <a target="_blank" href="@(Html.Raw($"mailto:?subject={Model.model.Person.Name}&body=Раджу подивитися фільми за участю цієї особи '{Model.model.Person.Name}' за цим посиланням: {Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}"))">
                                        <h6 class="share_link"><i class="fa-regular fa-envelope"></i></h6>
                                        <span>Пошта</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="fb-root"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<partial name="MoviesArea" model="Model.PersonMovies" />

@if (Model.MoviesArea != null)
{
    <partial name="MoviesArea" model="Model.MoviesArea" />
}

@functions {
    string[] SeparateTitle(string title)
    {
        return StringUtilities.SeparateString(title);
    }

    string GenderColor()
    {
        @if (Model.model.Person.IsFemale)
        {
            return "darkmagenta";
        }
        else
        {
            return "darkblue";
        }
    }

    string CalcAge(DateTime birth, DateTime death)
    {
        DateTime zeroTime = new DateTime(1, 1, 1);
        TimeSpan span = death - birth;
        int years = (zeroTime + span).Year - 1;

        if (death == DateTime.Today && years > 100) return string.Empty;

        return years.ToString() + " " + StringUtilities.NumDeclension(years, "рік", "роки", "років");
    }
}

@section Scripts {
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v19.0&appId=146729146676782" nonce="34AbfMpj"></script>
}
